page-login {
    a { text-decoration: none; color: #c00;}
	h4 {color: #31705D; }

}
/*
ion-navbar {
  display: none !important;
}*/



.backgroud2 {
 	
	 form ion-item{ border:0px !important;}
	.label-md{ margin-top:0px;}
 
 	.scroll-content{ background-image:url('../assets/img/login_bg2.jpg') ;background-size: cover !important;background-position:bottom;     } 
 
 
	h2{ color:#888B94;font-family: 'Montserrat',sans-serif ; font-weight:bold; }
	h3{font-family: 'Lato', sans-serif; font-size:14px;}
	
	@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
	
	.home_heading_1{ text-align:center; padding:1px; overflow:hidden; margin-top:120px; }
	.home_heading_2{ text-align:center; padding:1px; overflow:hidden; color:#9397A0;  }
	.home_heading_2 h3{ margin-top:0px;   font-size: 10px; font-weight: bold;}
	
	.home_heading_44 .inner h3{font-family: 'Lato', sans-serif; color: #6f737c; font-family: "Lato",sans-serif; font-size: 19px;} 
	
	 .home_heading_44 .inner a{  color:#488AFF  }

	.home_heading_33{ padding:2px;}
	.home_heading_33 .inner{ margin:0 auto; text-align:center;  max-width:125px; font-size:8px;  border-radius:150px;}
	 .home_heading_33 .inner img{  padding:15px;  }
	 
	.item-md{ background-color:transparent;}
	.login_cont{ max-width:400px; width:95%; margin:0 auto; }
	.login_cont ion-icon{ font-size:24px; width:24px; width:24px; }
	.forget_link_parent{ padding-bottom:10px; }
	.forget_link{ float:right;color:#858585; margin-bottom:15px;}
	
	ion-toolbar{
	  min-height: 140px !important;
	}
	.signin_button{ padding:25px 1.1em;}
	
	
	.icon_color{ color:#565656;}
	.item-block .item-inner{border-bottom:1px solid #b4b4b4 !important;}
	
	input::placeholder {
	  color:#565656;
	}
	
	input::-webkit-input-placeholder { 
	  color:#565656;
	}
	input::-moz-placeholder { 
	 color:#565656;
	}
	input:-ms-input-placeholder { 
	  color: pink;
	}
	input:-moz-placeholder { 
	   color:#565656;
	}

	
}
.login_footer1{ min-height:100px !important; background-color:#fff; font-family: 'Montserrat',sans-serif;}

.login_footer1 .toolbar-background-md{background:#fff;}
.login_footer1 .md_icon{ padding:3px;}
.login_footer1 .md_icon .md_icon_inner{ max-width:55px; margin:0 auto;}
.login_footer1 .md_icon .md_icon_inner img{ width:16px;}

.login_footer1 .footer_sub{ padding:0px; text-align:center;}
.login_footer1 .singin_with{ font-size:8px; color:#0080d0}
.login_footer1 .singin_with_dont{ font-size:10px; color:#0080d0}
.login_footer1 .new_reg{ font-size:10px; color:#858585;}
