page-signup {
    a { text-decoration: none; color: #c00;}
    form .item-md {padding-left: 10px!important;}
	h4 {color: #31705D; }

	
/*-------------------------------------*/
.signup_head{background-image:url('../img/singup_header_bg.jpg') !important;}
.signup_head ion-title{text-align:center;}
.signup_head .toolbar-md{min-height:200px; background-image:url('../img/singup_header_bg.jpg') !important;}


ion-icon{ color:#fff;}
.back-button{ top:10; bottom:0; position:relative; margin:0px; min-width:35px; }
.toolbar{ color:#fff; align-items:unset;}
.signup_head::after{background-image:none;}

.singup_list ion-icon{color:#b6b6b6; margin-top:0px;}

/*--------setting main css----------*/
.toolbar-background{ background-color:transparent;}
.scroll-content{padding:0px !important;}
.toolbar-title-md{ font-family: open sans; font-weight: bold; font-size: 14px; padding-left: 15px; padding-top: 10px;}
form ion-item{ border:0px !important;}
.item-md{ background-color:transparent;}
.label-md{margin-top:3px;}
.signup_button{ padding:25px 1.1em;}

.main_logo{ margin-top: 43px; text-align: center;}

.select_group ion-icon,ion-select{ float:left}
.select_group ion-select{ padding-top:0px;}

.select_group2  #lbl-5{ max-width:300px;}
.select_group2 ion-icon,ion-select{ float:left}
.select_group2 ion-select{ padding-top:15px; max-width:100px;}
.select_group2 ion-input{ padding-top:0px; margin-top:0px; float:left; width:100px;}
.singup_list ion-label{ color: #000 !important; font-size: 14px !important;font-weight: bold; margin-top:10px;}
.content33{ width:100%; }
.phone_item *{border:0px solid #fff !important;}

.phone_bottom ion-select{padding:2px !important;			margin-top:-5px; }
.phone_bottom ion-input{padding:2px !important;			margin-top:-5px;}

.new_color ion-input{ color:#999 !important}
.new_color ion-select{ color:#999 !important}

.set_select_group .select-md{max-width:200px !important;}
.agree_checkbox .checkbox-icon{ margin-top:10px;}
}